
body {
  text-align: center; /* THIS IS TO CENTER THE IMAGES ON THE PAGE */
  background-color: #f7f5f2; /* NEW BACKGROUND COLOR */
}

h1 {
    font-family: 'Raleway';font-size: 48px; /* the Raleway font is being imported from google */
    text-align: center; /* text is aligning on the center of web page */
    color: #f7f5f2; /* NEW COLOR FOR H1 TEXT */
    font-weight: bold; /* the font is bold to highlight its importance */
    background-color: #2f5d50; /* DARKER GREEN FOR H1 HEADINGS */
    padding: 15px; /* padding adds space around heading to keep it from being crowded */
    border-radius: 40px; /* $$$ */
    border-style: solid; /* $$$ */
    border-color: #f7f5f2; /* $$$ */
    border-width: thick; /* $$$ */
}

img {
    float: left; /* the image will float to the left side of the web page */
    width: 500px; /* the size had to be adjusted as the original file was too big */
    height: 300px; /* the size had to be adjusted as the original file was too big */
    margin-right: 15px; /* margin is added to the right of the photo so its not crowded by the text */
    border-style: solid; /* $$$ */
    border-color: #7a5c3e; /* $$$ */
    border-width: thick; /* $$$ */


}
/* the div element is being used as a container for an image and the main portion of text on the page  */
div {
  font-family: 'Open Sans'; font-size: 17px; /* the font is different than the headings to differentiate more between the two */
  text-align: left; /* the text is aligning left to stay on the right side of the photo for a clean look */
  font-weight: regular; /* regular font weight will be used for most text */
  padding: 15px; /* padding adds space to keep it from being crowded */
}

p {
  font-family: 'Open Sans'; font-size: 17px; /* the font is different than the headings to differentiate more between the two */
  text-align: center; /* the text is aligning left to stay on the right side of the photo for a clean look */
  font-weight: regular; /* regular font weight will be used for most text */
  padding: 15px; /* padding adds space to keep it from being crowded */
}

h2 {
    font-family: 'Raleway';font-size: 24px; /* the Raleway font is being imported from google and as a smaller heading, it uses smaller font size */
    text-align: left; /* text is aligning on the left side of web page */
    color: #2B2B2B; /* the text color will be a gray/black throughout the website */
    font-weight: regular; /* regular font weight will be used for most text */
    padding: 15px; /* padding adds space around heading to keep it from being crowded */
    background-color: #8aa399; /* green color will be part of the website color scheme */
}

h3 {
    font-family: 'Raleway';font-size: 20px; /* the Raleway font is being imported from google and as a smaller heading, it uses smaller font size */
    text-align: center; /* text is aligning on the left side of web page */
    color: #2B2B2B; /* the text color will be a gray/black throughout the website */
    font-weight: regular; /* regular font weight will be used for most text */
    padding: 15px; /* padding adds space around heading to keep it from being crowded */
    background-color: #8aa399; /* green color will be part of the website color scheme */
}

h4 {
    font-family: 'Raleway';font-size: 18px; /* the Raleway font is being imported from google and as a smaller heading, it uses smaller font size */
    text-align: left; /* text is aligning on the left side of web page */
    color: #2B2B2B; /* the text color will be a gray/black throughout the website */
    font-weight: regular; /* regular font weight will be used for most text */
    padding: 15px; /* padding adds space around heading to keep it from being crowded */
    background-color: #8aa399; /* green color will be part of the website color scheme */
}

ul {
  font-family: 'Open Sans'; font-size: 17px; /* the font is different than the headings to differentiate more between the two */
  text-align: left; /* text is aligning on the left side of web page */
  font-weight: regular; /* regular font weight will be used for most text */
  padding-top: 15px; /* padding adds space to keep it from being crowded */
  padding-bottom: 15px; /* padding adds space to keep it from being crowded */
  padding-right: 15px; /* padding adds space to keep it from being crowded */
  background-color: #8aa399; /* green color will be part of the website color scheme */
}

.image-preview { /* CLASS WITHIN A DIV ELEMENT FOR HOW PHOTOS ARE DISPLAYED TOGETHER */
  width: auto; /* THE WIDTH IS AUTOMATIC */
  display: inline-block; /* ALL THE ELEMENTS IN THE DIV WILL APPEAR IN THE SAME CONTAINER*/
  vertical-align: top; /* THE ELEMENTS IN THE DIV WILL ALIGN TO THE TOP */
}  

.photos-square { /* CLASS FOR SQUARE PHOTOS */
  width: 400px; /* PHOTO WIDTH */
  display: block; /* AS A BLOCK, EACH PHOTO TAKES UP THE FULL WIDTH AVAILABLE IN THE PARENT CONTAINER */
}

.photos-tall { /* CLASS FOR TALL PHOTOS */ 
  width: 400px; /* PHOTO WIDTH */
  height: auto; /* PHOTO HEIGHT */
  display: block; /* AS A BLOCK, EACH PHOTO TAKES UP THE FULL WIDTH AVAILABLE IN THE PARENT CONTAINER */
}

table { /* TABLE SHOWING CATEGORY AND PRICE OF PRODUCT */
  margin: auto; /* AUTOMATIC MARGINS */
  border: 5px solid #8aa399; /* SMALL BORDER WITH MAIN COLOR THEME*/
  width: 500px; /* TABLE WIDTH */
  border-spacing: 0; /* DEFAULT SPACING HAS WHITE LINES, DON'T NEED */
  font-family: Raleway; /* IMPORTED FONT */
}

th { /* TWO HEADERS FOR TABLE */
    color:#2B2B2B; /* TABLE HEADER COLOR */
}

td, th { /* TABLE HEADER AND DATA */
  padding: 10px; /* PADDING AROUND HEADER AND COLUMNS */
  border-style: none; /* NO BORDER */
  font-family:  Raleway; /* IMPORTED FONT */
}

caption { /* TITLE OR CAPTION FOR TABLE */
  color:#2B2B2B; /* CAPTION COLOR */
  font-family: Raleway; /* IMPORTED FONT */
  font-size: 20px; /* FONT SIZE */
  padding-bottom: 8px; /* PADDING FOR THE BOTTOM OF THE CAPTION */
}

tr:nth-of-type(even) { /* BACKGROUND COLORS FOR EVEN ROWS */
  background-color: #eaeaea; /* ROW COLOR */
}

tr:first-of-type { /* HEADING BACKGROUND COLOR */
  background-color: #8aa399; /* HEADING COLOR */
} 
